<footer class="footer">

  <div class="company">
    <div class="container">
      <div class="company_wrapper">

        <div class="footer_everything">

          <div class="everything">

            <h4 class="everything-header"><a href="">О сервисе</a></h4>

            <ul class="everything-menu">
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Обратная связь</a></li>
            </ul>

          </div><!-- /.everything -->

          <div class="everything">
            <h4 class="everything-header"><a href="">База знаний</a></h4>

            <ul class="everything-menu">
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Часто-задаваемые вопросы</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Инструкции по расширениям</a></li>
            </ul>
          </div><!-- /.everything -->

          <div class="everything">


          </div><!-- /.everything -->

        </div><!-- /.footer_everything -->
        <div class="footer_public">
          <div class="social-box">
            <ul class="social">
              <li class="social_item"><a href="" class="social_link social_link--youtube" target="_blank" title="YouTube откроется в новом окне"><span>YouTube</span></a></li>
              <li class="social_item"><a href="" class="social_link social_link--vk" target="_blank" title="VK.com откроется в новом окне"><span>VK</span></a></li>
              <li class="social_item"><a href="" class="social_link social_link--twitter" target="_blank" title="Twitter откроется в новом окне"><span>Twitter</span></a></li>
              <li class="social_item"><a href="" class="social_link social_link--facebook" target="_blank" title="FaceBook откроется в новом окне"><span>FaceBook</span></a></li>
              <li class="social_item"><a href="" class="social_link social_link--telegram" target="_blank" title="Telegram откроется в новом окне"><span>Telegram</span></a></li>

              <li class="social_item"><a href="" class="social_link social_link--medium" target="_blank" title="Medium откроется в новом окне"><span>Medium</span></a></li>
              <li class="social_item"><a href="" class="social_link social_link--instagram" target="_blank" title="Instagram откроется в новом окне"><span>Instagram</span></a></li>
            </ul>
          </div><!-- /.social-box -->
        </div><!-- /.footer_public -->

      </div><!-- /.company_wrapper -->
    </div><!-- /.container -->
  </div><!-- /.company -->

  <div class="copyright">
    <div class="container">
      <div class="copyright_wrapper">
        <div class="">&copy;&nbsp;Aliincome.ru, 2017–2018.</div>
        <div class="">При перепечатке материалов сайта активная ссылка на aliincome.ru обязательна.</div>
      </div><!-- /.copyright_wrapper -->
    </div><!-- /.container -->
  </div><!-- /.copyright -->

</footer>

<script src="assets/scripts/jquery-3.3.1.min.js"></script>
<script src="assets/scripts/scripts.js"></script>
