<footer class="footer">

  <div class="company">
    <div class="container">
      <div class="company_wrapper">

        <div class="footer_everything">

          <div class="everything">

            <h4 class="everything-header"><a href="">Инструменты</a></h4>

            <ul class="everything-menu">
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Поисковое продвижение</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Контекстная реклама</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Контент-маркетинг</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Управление репутацией</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Наполнение сайтов</a></li>
            </ul>

            <h4 class="everything-header"><a href="">Технологии</a></h4>

            <ul class="everything-menu">
              <li class="everything-menu_item"><a href="" class="everything-menu_link">SeoPult +</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">SeoPult Max</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Естественные ссылки</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Продвижение статьями</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Трафиковое продвижение</a></li>
            </ul>

          </div><!-- /.everything -->

          <div class="everything">
            <h4 class="everything-header"><a href="">Обучение</a></h4>

            <ul class="everything-menu">
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Бесплатные курсы и семинары</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Обучающее видео и вебинары</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Информационная рассылка</a></li>
            </ul>

            <h4 class="everything-header"><a href="">Справка</a></h4>

            <ul class="everything-menu">
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Инструкции</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Вопрос-ответ</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">База терминов</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Обратиться в поддержку</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Анализатор апдейтов</a></li>
            </ul>
          </div><!-- /.everything -->

          <div class="everything">

            <h4 class="everything-header"><a href="">О системе</a></h4>

            <ul class="everything-menu">
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Карьера у нас</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Сотрудничество</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Реферальная программа</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Договоры и условия</a></li>
              <li class="everything-menu_item"><a href="" class="everything-menu_link">Логотип</a></li>
            </ul>

            <h4 class="everything-header active" title="Вы сейчас здесь, везёт вам, а"><a href=""><span class="star">★&nbsp;</span>Блог</a></h4>

            <h4 class="everything-header"><a href="">Новости</a></h4>

          </div><!-- /.everything -->

        </div><!-- /.footer_everything -->
        <div class="footer_public">
          <div class="social-box">
            <ul class="social">
              <li class="social_item"><a href="https://www.youtube.com/user/SeoPultRU" class="social_link social_link--youtube" target="_blank" title="YouTube откроется в новом окне"><span>YouTube</span></a></li>
              <li class="social_item"><a href="https://vk.com/seopultru" class="social_link social_link--vk" target="_blank" title="VK.com откроется в новом окне"><span>VK</span></a></li>
              <li class="social_item"><a href="https://twitter.com/SeoPultRU" class="social_link social_link--twitter" target="_blank" title="Twitter откроется в новом окне"><span>Twitter</span></a></li>
              <li class="social_item"><a href="https://www.facebook.com/seopult" class="social_link social_link--facebook" target="_blank" title="FaceBook откроется в новом окне"><span>FaceBook</span></a></li>
              <li class="social_item"><a href="https://t.me/seopultru" class="social_link social_link--telegram" target="_blank" title="Telegram откроется в новом окне"><span>Telegram</span></a></li>

              <li class="social_item"><a href="" class="social_link social_link--medium" target="_blank" title="Medium откроется в новом окне"><span>Medium</span></a></li>
              <li class="social_item"><a href="" class="social_link social_link--instagram" target="_blank" title="Instagram откроется в новом окне"><span>Instagram</span></a></li>
            </ul>
          </div><!-- /.social-box -->
        </div><!-- /.footer_public -->

      </div><!-- /.company_wrapper -->
    </div><!-- /.container -->
  </div><!-- /.company -->

  <div class="copyright">
    <div class="container">
      <div class="copyright_wrapper">
        <div class="">&copy;&nbsp;Блог проекта SeoPult.ru, 2007–2018</div>
        <div class="">Если копируете наши посты — поставьте, пожалуйста, ссылку.</div>
      </div><!-- /.copyright_wrapper -->
    </div><!-- /.container -->
  </div><!-- /.copyright -->

</footer>

<script src="assets/scripts/jquery-3.3.1.min.js"></script>
<script src="assets/scripts/scripts.js"></script>
