.footer {
  display: block;
  background-color: #30363c;
  padding-top: 30px;

  .copyright {
    border-top: 1px solid #393f45;
    color: rgb(115, 120, 127);
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;

    &_wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      height: 70px;
    }

    a {
      color: rgb(115, 120, 127);
      border-color: rgba(115, 120, 127, .35);

      &:hover {
        color: $link-hover-color;
        border-color: $link-hover-color;
      }
    }
  }

  &_everything {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1;
  }

  .everything {
    flex-basis: 300px;
  }
}

.company {
  padding-top: 30px;
  padding-bottom: 30px;

  &_wrapper {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
  }
}

.everything-header {
  color: rgb(192, 200, 204);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 0 15px 0;

  & > a {
    color: rgb(192, 200, 204);
    border-bottom: 0;

    &:hover { color: $link-hover-color; }
  }
}

.everything-menu {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;

  &_item {
    margin-bottom: 5px;

    &:last-child { margin-bottom: 0; }
  }

  & a,
  &_link {
    color: rgb(115, 120, 127);
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    border-bottom: 0;

    &:hover { color: $link-hover-color; }
  }
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  &--auth {

    .social_item {
      margin-right: 20px;

      &:last-child { margin-right: 0; }
    }

    .social_link--vk { background-color: rgb(69, 102, 142); }
    .social_link--twitter { background-color: rgb(0, 172, 237); }
    .social_link--facebook { background-color: rgb(59, 89, 153); }
    .social_link--telegram { background-color: #5682A3; }
    .social_link--medium { background-color: #00ab6c; }
    .social_link--instagram { background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000); }
    .social_link--youtube { background-color: #ff0000; }

    .social_link:hover   {
      opacity: .75;
    }
  }

  &-box {
    position: relative;
    left: -2px;
  }

  &_item {
    vertical-align: middle;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &_link {
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    transition: all .3s ease;
    width: 40px;
    height: 40px;
    background-color: rgba(136, 141, 150, .1);
    box-shadow: 0 1px 2px rgba(28, 29, 31, .3);
    border-radius: 2px;
    border-bottom: 0;

    &--vk {

      span {
        display: block;
        @include size(22px, 12px);
        background-image: svg-load('social/vk.svg', fill=#fff);
        position: relative;
        top: 15px;
        left: 8px;
      }

      &:hover {
        background-color: rgb(69, 102, 142);
      }
    }

    &--twitter {

      span {
        display: block;
        @include size(18px, 14px);
        background-image: svg-load('social/twitter.svg', fill=#fff);
        position: relative;
        top: 13px;
        left: 11px;
      }

      &:hover {
        background-color: rgb(0, 172, 237);
      }
    }

    &--facebook {

      span {
        display: block;
        @include size(12px, 24px);
        background-image: svg-load('social/facebook.svg', fill=#fff);
        position: relative;
        top: 8px;
        left: 13px;
      }

      &:hover {
        background-color: rgb(59, 89, 153);
      }
    }

    &--telegram {

      span {
        display: block;
        @include size(16px);
        background-image: svg-load('social/telegram.svg', fill=#fff);
        position: relative;
        top: 13px;
        left: 11px;
      }

      &:hover {
        background-color: #5682A3;
      }
    }

    &--medium {

      span {
        display: block;
        @include size(20px, 16px);
        background-image: svg-load('social/medium.svg', fill=#fff);
        position: relative;
        top: 12px;
        left: 10px;
      }

      &:hover {
        background-color: #00ab6c;
      }
    }

    &--instagram {

      span {
        display: block;
        @include size(22px);
        background-image: svg-load('social/instagram.svg', fill=#fff);
        position: relative;
        top: 9px;
        left: 9px;
      }

      &:hover {
        background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);
      }
    }

    &--youtube {

      span {
        display: block;
        @include size(18px, 12px);
        background-image: svg-load('social/youtube.svg', fill=#fff);
        position: relative;
        top: 14px;
        left: 11px;
      }

      &:hover {
        background-color: #ff0000;
      }
    }
  }
}
