.header {
  background-color: #30363c;
  transition: all .25s ease;
  z-index: 100;
  height: $header-height;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  color: #fff;

  &_wrap {
    padding: 0;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
  }
}

.logo-link {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}
