<!-- в случае тестирования разбейте стекло комментариев
  <div class="px2px"></div>
-->
<header class="header">
  <!-- begin .container -->
  <div class="container">
    <!-- begin .header_wrap -->
    <div class="header_wrap">
      <!-- begin .header-logo -->
      <div class="header-logo"></div>
      <!-- end .header-logo -->
      <!-- begin .header_nav -->
      <div class="header_nav"></div>
      <!-- end .header_nav -->
    </div>
    <!-- end .header_wrap -->
  </div>
  <!-- end .container -->
</header>
