.icon {
  position: relative;
  display: inline-block;
  transition: all .3s ease;

  &-star {
    @include size(17px, 16px);
    background-image: svg-load('star.svg', fill=#e92c00);
  }

  &-reload {
    @include size(20px, 17px);
    background-image: svg-load('reload.svg', fill=#30363c);
  }

  &-user {
    @include size(75px, 78px);
    background-image: inline('user.png');
  }

  &-history {
    @include size(50px, 50px);
    background-image: inline('history.png');
  }

  &-friends {
    @include size(48px, 43px);
    background-image: inline('friends.png');
  }

  &-ruble {
    @include size(40px, 48px);
    background-image: inline('ruble.png');
  }

  &-wallets {
    @include size(48px, 47px);
    background-image: inline('wallets.png');
  }

  &-settings {
    @include size(48px, 47px);
    background-image: inline('settings.png');
  }

  &-support {
    @include size(47px, 45px);
    background-image: inline('support.png');
  }

  &-help {
    @include size(20px, 19px);
    background-image: inline('help.png');
    top: 1px;
    opacity: .3;

    &:hover {
      opacity: 1;
    }
  }

  &-plus {
    @include size(14px);
    background-image: svg-load('plus.svg');
    opacity: .5;
  }

  &-minus {
    @include size(14px, 2px);
    background-image: svg-load('minus.svg');
    top: -2px;
    opacity: .5;
  }

  &-logout {
    @include size(19px, 18px);
    background-image: inline('logout.png');
    opacity: .3;

    &:hover {
      opacity: 1;
    }
  }

  &-calendar {
    @include size(20px);
    background-image: svg-load('calendar.svg');
  }
}
