.icon {
  position: relative;
  display: inline-block;
  transition: all .3s ease;

  &-star {
    @include size(17px, 16px);
    background-image: svg-load('star.svg', fill=#e92c00);
  }

  &-reload {
    @include size(20px, 17px);
    background-image: svg-load('reload.svg', fill=#30363c);
  }

  &-user {
    @include size(75px, 78px);
    background-image: inline('user.png');
  }

  &-history {
    @include size(50px, 50px);
    background-image: inline('history.png');
  }

  &-settings {
    @include size(48px, 47px);
    background-image: inline('settings.png');
  }
}
