// Ссылки
a {
  transition: .3s ease;
  text-decoration: none;
  color: $link-color;
  border-bottom: 1px solid;

  &:focus {
    outline: none;
  }

  &:hover,
  &.hover {
    color: $link-hover-color;
    transition: .2s ease;
  }

  /* &:visited {
    color: $link-visited-color;

    &:hover {
      color: $link-hover-color;
      transition: .2s ease;
    }
  } */

  &:active,
  &.active {
    color: $link-active-color;
  }
}

.pseudolink {
  border-bottom: 1px dashed;

  &:hover,
  &.hover {
    color: $link-hover-color;
    transition: .2s ease;
    cursor: pointer;
  }

  &.red {
    color: $link-active-color;
  }
}

// Кнопки
.btn {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 13px 26px 12px 26px;
  color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all .2s ease;
  vertical-align: middle;
  position: relative;
  overflow: hidden;

  // красная кнопка, что логично
  &-red {
    background-color: #e92c00;

    &:hover,
    &.hover {
      background-color: #ff3b0e;
      border-color: #ff3b0e;
      color: #fff;
    }

    &:focus,
    &.focus {
      background-color: #da2900;
      border-color: #da2900;
      color: #ed9480;
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }

    &.progress {
      color: rgb(255, 255, 255);
    }
  }

  // контурная, прозрачная
  &-outline {
    background-color: transparent;
    border-color: #898e97;
    color: #fff;

    &:hover,
    &.hover {
      border-color: #ff3b0e;
      color: #fff;
    }

    &:focus,
    &.focus {
      border-color: #545860;
      color: #898e97;
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }

    &.progress {
      color: rgb(0, 0, 0);
    }
  }

  &-outline-light {
    background-color: transparent;
    border-color: #898e97;
    color: #30363c;

    &:hover,
    &.hover {
      border-color: #ff3b0e;
      color: #30363c;
    }

    &:focus,
    &.focus {
      border-color: #545860;
      color: #898e97;
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }

    &.progress {
      color: rgb(0, 0, 0);
    }
  }

  &-white {
    background-color: #fff;
    border-color: #e9edef;
    color: #828282;

    &:hover,
    &.hover {
      border-color: #d7dbdf;
      color: #30363c;
      box-shadow: 0 2px 4px rgba(48, 54, 60, .1);
    }

    &:focus,
    &.focus {
      border-color: #545860;
      color: #898e97;
    }

    &[disabled=disabled],
    &:disabled,
    &:disabled,
    &.disabled {
      color: rgb(255, 255, 255);
      background-color: rgb(214, 217, 220);
      border-color: rgb(214, 217, 220);
    }

    &.progress {
      color: rgb(0, 0, 0);
    }
  }

  &-mini {
    padding: 9px 19px 9px 19px;
  }

  &-large {
    font-size: 18px;
    line-height: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &-full {
    width: 100%;
  }

  &.progress {
    background-image: linear-gradient(45deg, rgba(0, 0, 0, .1) 25%,transparent 25%, transparent 50%, rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1) 75%, transparent 75%, transparent);
    background-size: 10px 10px;
    animation: progress-bar-stripes .5s linear infinite;
  }
}
