$table-bg: #fff;
$table-padding: 20px 20px 18px 20px;
$table-padding-mini: 10px 15px 9px 15px;
$table-border-color: #eaeef0;

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

.table_wrap {
  margin: 0 -20px 15px -20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: $table-bg;
  width: 100%;
  max-width: 100%;
  border: 1px solid transparent;
  font-family: 'Roboto';
  color: #30363c;

  &.table-mini {
    th, td {
      padding: $table-padding-mini;
    }
  }

  th {
    text-align: left;
    border-bottom: 1px solid $table-border-color;
    padding: $table-padding;
    font-size: 14px;
    line-height: 18px;
    color: #30363c;
    font-weight: bold;
    vertical-align: middle;
  }

  td {
    border-bottom: 1px solid $table-border-color;
    padding: $table-padding;
    vertical-align: middle;
  }

  tr {
    background-color: $table-bg;

    &:hover {
      background-color: rgba(247, 251, 252, .35);
    }

    &:last-child {

      td { border-bottom-color: transparent; }
    }
  }
}
