.dashboard {
  background-image: linear-gradient(#599fae, #5995ae);

  &_wrap {
    display: flex;
    align-items: stretch;
    align-content: stretch;
    position: relative;
  }

  &_photo {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 200px;
    flex-basis: 200px;
    margin-right: 20px;
  }

  &_info {
    width: 219px;
    position: relative;
    height: 100%;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &_balance {
    width: 219px;
    position: relative;
    height: 100%;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &_waiting {
    width: 219px;
    position: relative;
    height: 100%;
    margin-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  &_box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    justify-content: space-between;

    &_header {
      color: #fff;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }

    &_value {
      color: #fff;
      font-family: 'Roboto';
      font-size: 45px;
      font-weight: 400;
    }
  }

  &_action {
    position: absolute;
    right: 0;
    background-color: #518a97;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.user-photo {
  display: block;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 2px 20px 2px rgba(48, 54, 60, .5);
  border: 20px solid rgba(225, 225, 225, .35);
  position: relative;

  &-box {
    position: absolute;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
}

.bage {
  position: absolute;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  background-color: #30363c;
  box-shadow: 0 1px 2px rgba(48, 54, 60, 0.3);
  right: -35px;
  bottom: 10px;
  color: #fff;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 500;
  line-height: 25px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  &-box {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
}

.user-info {
  color: #fff;
  font-family: 'Roboto';
  line-height: 30px;

  &_head {
    font-size: 25px;
    font-weight: 500;
  }

  &_email {
    font-size: 18px;
    font-weight: 300;
  }
}
