.base-block {
  position: relative;
  padding-top: 55px;
  padding-bottom: 56px;

  &_header {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }
}

.main-page main { padding-top: 0; }
