.main-testimonials {
  background-color: #f8fcfd;

  &_list {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    transition: all .3s ease;
  }

  &_item {
    flex-basis: 33%;
    min-height: 290px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(48, 54, 60, .1);
    transition: all .3s ease;
    position: relative;

    &:last-child { margin-right: 0; }

    &:hover {
      box-shadow: 0 17px 22px 5px rgba(48, 54, 60, .1);

      .more_item {
        background-color: $link-hover-color;
      }
    }

    &.open {
      box-shadow: 0 17px 22px 5px rgba(48, 54, 60, .1);

      .main-testimonials_more {
        opacity: 0;
        transform: translateX(35px);
      }
    }
  }

  &_box {
    padding: 20px;
  }

  &_info {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
  }

  &_name {
    color: #30363c;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 500;
  }

  &_photo {
    margin-right: 20px;

    &-box {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      background-color: #f8fcfd;

      img {
        vertical-align: bottom;
      }
    }
  }

  &_content {
    color: #30363c;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;

    p:last-child { margin-bottom: 0; }
  }

  &_more {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all .3s ease;
  }
}

.more {
  display: flex;
  align-items: center;
  align-content: center;
  transition: all .3s ease;

  &_item {
    width: 6px;
    height: 6px;
    background-color: #30363c;
    margin-right: 3px;
    border-radius: 6px;
    transition: all .3s ease;

    &:last-child { margin-right: 0; }
  }

  &:hover {

    .more_item {
      background-color: $link-hover-color;
    }
  }
}

._longtext {

  &._less {

    .SecSec, .readLess { display: none; }
  }

  &._show {

    .readMore { display: none; }
  }

  &._show {

    .SecSec, .readLess { display: inline; }
  }
}
