---
title: Компоненты и элементы для Aliincome
description:
keywords:
bodyclass:
---

{% extends "layouts/layout.html" %}

{% block content %}
<style>
  .ui-page pre > code {
    font-size: 13px;
    line-height: 17px;
    font-family: "Sans Mono", "Consolas", "Courier", monospace;
  }

  .ui-page .ui-demo {
    margin-bottom: 20px;
  }

  .ui-page .ui-demo:last-child {
    margin-bottom: 15px;
  }

  .ui-page .ui-demo--icon .ui-demo-element {
    margin-bottom: 0;
    margin-left: 5px;
  }

  .ui-page .ui-demo--icon .ui-demo-element i:first-child {
    margin-right: 5px;
  }

  .ui-page .ui-demo-element {
    margin-bottom: 10px;
  }

  .ui-page .ui-demo .ui-demo-code pre {
    margin-bottom: 0;
  }

  .ui-page .content__box-icon {
    background-color: #f7f7f8;
    margin: 0 -20px;
    padding: 5px 20px;
  }

  .ui-page .content__box-icon p {
    margin-bottom: 25px;
  }

  code:not([class]),
  tt:not([class]) {
    background: rgba(238, 229, 229, 0.15);
    border: 1px solid #fafafa;
    color: #cb3716;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 0.85em;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/vs.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<div class="ui-page">
  <div class="container-fluid">
    <div class="page outline">

      <div class="page__content content">

        <div class="content__box">

          <h2>Компоненты и элементы</h2>

          <p>Вёрстка устроена этажами. Отдельный этаж — отдельный блок и директория в проекте. Связанные логически этажи (все для личного кабинета, например), лежат в одной родительской директории.</p>

          <h2>Сетка</h2>

          <p>Для сетки использую <a href="http://flexboxgrid.com/" target="_blank">Flexbox Grid</a>, она клёвая.</p>

          <h3>Кнопки</h3>

          <p>Кнопки включаются через класс <code>.btn</code>, который может быть применёнк любому элементу, но лучше всего использовать <code>&lt;a&gt;</code> или <code>&lt;button&gt;</code>, . В кнопку можно превратить ссылку, обычную кнопку и инпут (ну и на самом деле вообще всё). У кнопок существуют разные модификации. Прмеры — ниже. <em>Вторая кнопка слева она специально такая, это — кнопка для тёмного фона.</em></p>

          <p class="text-red">Не отрисованы состояния кнопок в прогрессе. Обработка данных, например.</p>

          <div class="row">

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-red">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-red"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-outline">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-outline"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-outline-light">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-outline-light"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-white">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-white"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

          </div>

          <p>Заблокированные состояния кнопок для каждого модификатора показаны отдельным этажом. Блокирование кнопки происходит через класс или атрибут <code>disabled</code>.</p>

          <div class="row">

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-red" disabled>Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-red" disabled&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-outline" disabled>Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-outline" disabled&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-outline-light" disabled>Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-outline-light" disabled&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-white" disabled>Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-white" disabled&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

          </div>

          <p>Состояния кнопок «в прогрессе» для каждого модификатора показаны отдельным этажом. Включение статусе прогреса кнопки происходит через класс <code>progress</code>.</p>

          <div class="row">

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-red progress">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-red progress"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-outline progress">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-outline progress"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-outline-light progress">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-outline-light progress"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-white progress">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-white progress"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

          </div>

          <h4>Размеры кнопок</h4>

          <p>Размеры управляются через добавчные классы. Есть три размера: стандартный, большой — <code>.btn-large</code>, маленький — <code>.btn-mini</code>. Также есть класс, который растянет кнопку на 100% ширины родительского блока: <code>.btn-full</code>.</p>

          <div class="row bottom-xs">

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-red btn-large">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-red btn-large"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-outline-light btn-mini">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-outline-light btn-mini"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><button type="button" class="btn btn-white btn-full">Вот-вот запустим</button></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;button type="button" class="btn btn-white btn-mini"&gt;Вот-вот запустим&lt;/button&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

          </div>

          <h3>Поля и элементы форм</h3>

          <p>Отдельные элементы форм кладутся в блок-родитель с классом <code>.form-group</code>. Внутри формы работает стандратная сетка. Страндартный класс для поля любого типа — <code>.form-control</code>. Для полей ошибок используется класс <code>.has-error</code> у родительского элемента <code>.form-group</code>.</p>

          <p class="text-red">Состояние «ок» и «прогресс» для полей форм не отрисованы. Также не отрисованы выпадающие списки, множественный выбор, чекбоксы и радиобатоны.</p>

          <p>Примеры полей:</p>

          <div class="row">

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><div class="form-group"><label for="" class="form-control-label hide" hide="">Email</label><input type="text" id="" class="form-control" placeholder="Email"></div></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;div class="form-group"&gt;<br /> &lt;label for="" class="form-control-label hide" hide=""&gt;Email&lt;/label&gt;<br /> &lt;input type="text" id="" class="form-control" placeholder="Email" autofocus=""&gt;<br /> &lt;/div&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><div class="form-group"><label for="" class="form-control-label hide" hide="">Email</label><input type="text" id="" class="form-control focus" placeholder="Email"></div></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;div class="form-group"&gt;<br /> &lt;label for="" class="form-control-label hide" hide=""&gt;Email&lt;/label&gt;<br /> &lt;input type="text" id="" class="form-control focus" placeholder="Email" autofocus=""&gt;<br /> &lt;/div&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><div class="form-group has-error"><label for="" class="form-control-label hide">Имя</label><input type="text" id="" class="form-control" placeholder="Имя"><div class="invalid-feedback">Таких имён не баывает, заполните поле</div></div></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;div class="form-group has-error"&gt;<br /> &lt;label for="" class="form-control-label hide"&gt;Имя&lt;/label&gt;<br /> &lt;input type="text" id="" class="form-control" placeholder="Имя"&gt;<br /> &lt;div class="invalid-feedback"&gt;Таких имён не баывает, заполните поле&lt;/div&gt;<br /> &lt;/div&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <div class="ui-demo">
                <div class="ui-demo-element"><div class="form-group"><label for="" class="form-control-label hide" hide="">Email</label><input type="text" id="" class="form-control" placeholder="Email" disabled></div></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;div class="form-group"&gt;<br /> &lt;label for="" class="form-control-label hide" hide=""&gt;Email&lt;/label&gt;<br /> &lt;input type="text" id="" class="form-control" placeholder="Email" autofocus="" disabled&gt;<br /> &lt;/div&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->

            </div>
          </div>

          <h3>Таблицы</h3>

          <p>В дизайне использовано два вида таблиц. С широкими полями в ячейках и с узкими. Сверстал оба варианта. Для общего использования таблиц использовать класс <code>.table</code>. Для использования узкой таблицы нужно добавить класс-модификатор <code>.table.table-mini</code>. Таблицы верстаюстся по <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table" target="_blank">базовой разметке HTML5</a>.</p>

        </div><!-- /.content__box -->

        <div class="content__box content__box-icon">
          <h2>Иконки и графика</h2>
          <p>Все svg-иконки используются через CSS, но таких иконок пока мало. Большая часть в png. Все иконки в корне дирректории <code>app/images/*</code>. Иконки используются через тег <code>&lt;i class="icon"&gt;</code>. Исходник файла с иконками расположен в <code>app/styles/base/icons.scss</code>. Название иконки соответствует названию файла в дирректории <code>app/images/svg/*</code> или из <code>app/images/*</code>.</p>

          <div class="row bottom-xs">

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-star"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-star"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-reload"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-reload"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-logout"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-logout"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-calendar"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-calendar"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

          </div>

          <div class="row bottom-xs">

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-friends"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-friends"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-ruble"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-ruble"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-wallets"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-wallets"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-settings"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-settings"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

          </div>

          <div class="row bottom-xs">

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-support"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-support"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-help"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-help"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-plus"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-plus"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-minus"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-minus"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

          </div>

          <div class="row bottom-xs">

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-user"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-user"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

            <div class="col-xs-3">
              <div class="ui-demo ui-demo--icon">
                <div class="ui-demo-element"><i class="icon icon-history"></i></div><!-- /.ui-demo-element -->
                <div class="ui-demo-code"><pre><code class="html">&lt;i class="icon icon-history"&gt;&lt;/i&gt;</code></pre></div><!-- /.ui-demo-code -->
              </div><!-- /.ui-demo -->
            </div>

          </div>

        </div>

        <div class="content__box">
          <h2>Типографика и текстовые элементы</h2>

          <h3>Базовые классы для текста</h3>

          <div class="row">

            <div class="col-xs-3">

              <h4>Текст справа</h4>

                <div class="ui-demo">
                  <div class="ui-demo-element"><p class="text-right">Немного текста для примера</p></div><!-- /.ui-demo-element -->
                  <div class="ui-demo-code"><pre><code class="html">&lt;p class="text-right"&gt;Немного текста для примера&lt;/p&gt;</code></pre></div><!-- /.ui-demo-code -->
                </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <h4>Текст по центру</h4>

                <div class="ui-demo">
                  <div class="ui-demo-element"><p class="text-center">Немного текста для примера</p></div><!-- /.ui-demo-element -->
                  <div class="ui-demo-code"><pre><code class="html">&lt;p class="text-center"&gt;Немного текста для примера&lt;/p&gt;</code></pre></div><!-- /.ui-demo-code -->
                </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <h4>Текст слева</h4>

                <div class="ui-demo">
                  <div class="ui-demo-element"><p class="text-left">Немного текста для примера</p></div><!-- /.ui-demo-element -->
                  <div class="ui-demo-code"><pre><code class="html">&lt;p class="text-left"&gt;Немного текста для примера&lt;/p&gt;</code></pre></div><!-- /.ui-demo-code -->
                </div><!-- /.ui-demo -->

            </div>

            <div class="col-xs-3">

              <h4>Цвета текста</h4>

              <p>
                <span class="text-green">Класс для цвета <code>.text-green</code></span><br>
                <span class="text-gray">Класс для цвета <code>.text-gray</code></span><br>
                <span class="text-red">Класс для цвета <code>.text-red</code></span><br>
                <span class="text-blue">Класс для цвета <code>.text-blue</code></span>
              </p>

            </div>

          </div>

          <h1>Очень длинный заголовок типовой страницы, чтобы настроить междустрочный интервал (интерлиньяж)</h1>
          <p class="lead">Лид — это первый абзац статьи, информативный отрывок позволяющий захватить внимание читателя на данном материале. Необязательный элемент.</p>
          <p>Эта страница создана для демонстрации блоков и элементов, которые используются на сайте, и служит руководством для всех, кто работает над ним. Дизайнеры и технологи отрабатывают здесь стили, чтобы добиться приемлемых результатов в различных сочетаниях блоков и элементов. Контент-менеджеры и редакторы используют страницу в качестве справочника по верстке типовых страниц. Здесь же рассказывается о некоторых общих правилах оформления контента.</p>
          <p>Заголовок <code>&lt;h1&gt;</code> на странице должен быть использован только один раз!</p>
          <h2>Многострочный заголовок &lt;h2&gt;, длина которого иногда бывает так некстати</h2>
          <p>Имманентный подход подразумевает отношение к тексту как к автономной реальности, нацеленность на выявление его внутренней структуры. Репрезентативный — рассмотрение текста как особой формы представления знаний о внешней тексту действительности.</p>
          <h3>&lt;h3&gt; Делаем заголовки нарочито длинными, чтобы убедиться в правильном интерлиньяже</h3>
          <p>Текст состоит из некоторого количества предложений. Одно предложение, даже очень распространённое, сложное, текстом назвать нельзя, поскольку текст можно расчленить на самостоятельные предложения, а части предложения сочетаются по законам синтаксиса сложного предложения, но не текста. </p>
          <h4>&lt;h4&gt; В первую очередь нас интересуют интерлиньяж и отступы, но не стоит забывать и про сам заголовок</h4>
          <p>Заголовок &lt;h4&gt; используется для большой вложенности в сложной структере документов, например, выставленные счета на оплату, отчёты или информация о полученных знаниях и сертификатах, дефферинциированных по подтипам.</p>
          <h5>Заголовок пятого уровня &lt;h5&gt;</h5>
          <p>Заголовок &lt;h5&gt; используется только для вспомогательной информации, где есть вероятность появления шестого уровня разбивки.</p>
          <h6>Низкоуровневый заголовок &lt;h6&gt;</h6>
          <p>Самый «нижний» заголовок &lt;h6&gt; предваряет такие элементы, как «Комментарий» или «Таблица».</p>
          <h2>&lt;h2&gt; Теперь покажем несколько двустрочных<br>заголовков подряд</h2>
          <h3>&lt;h3&gt; Таким образом проверим их сочетание:<br>интерлиньяж и отступы</h3>
          <h4>&lt;h4&gt; Однако, в реальной ситуации подобных скоплений<br>заголовков лучше избегать</h4>
          <p>Если за заголовком более низкого уровня сразу следует заголовок более высокого, это нарушает композиционную связность элементов оформления и логику повествования. Поэтому после заголовка должен следовать текст (или иной контент), который этот заголовок и подчиненные ему подзаголовки, если они есть, озаглавливают.</p>

          <h2>Списки</h2>
          <p>Списки бывают нумерованные и ненумерованые. Принципы их оформления одинаковы.</p>
          <ul>
            <li>Если пункты списка длинные и&nbsp;представляют собой развернутые предложения, они должны начинаться с&nbsp;прописной буквы и&nbsp;заканчиваться точкой.
              <ul class="list">
                <li>Если пункты списка длинные и&nbsp;представляют собой развернутые предложения, они должны начинаться с&nbsp;прописной буквы и&nbsp;заканчиваться точкой.</li>
                <li>Если пункты списка короткие, не&nbsp;являются самостоятельной законченной конструкцией и&nbsp;грамматически тесно связаны с&nbsp;предшествующей списку вводной фразой, они должны начинаться со&nbsp;строчной буквы и&nbsp;заканчиваться точкой с&nbsp;запятой (в&nbsp;конце последнего пункта&nbsp;— точка).</li>
              </ul>
            </li>
            <li>Если пункты списка короткие, не&nbsp;являются самостоятельной законченной конструкцией и&nbsp;грамматически тесно связаны с&nbsp;предшествующей списку вводной фразой, они должны начинаться со&nbsp;строчной буквы и&nbsp;заканчиваться точкой с&nbsp;запятой (в&nbsp;конце последнего пункта&nbsp;— точка).</li>
          </ul>
          <ol>
            <li>Если пункты списка длинные и&nbsp;представляют собой развернутые предложения, они должны начинаться с&nbsp;прописной буквы и&nbsp;заканчиваться точкой.</li>
            <li>Если пункты списка короткие, не&nbsp;являются самостоятельной законченной конструкцией и&nbsp;грамматически тесно связаны с&nbsp;предшествующей списку вводной фразой, они должны начинаться со&nbsp;строчной буквы и&nbsp;заканчиваться точкой с&nbsp;запятой (в&nbsp;конце последнего пункта&nbsp;— точка).</li>
          </ol>
          <h3>Короткие пункты</h3>
          <p>Для использования такого списка необходимо на элемент <code>&lt;ul&gt;</code> добавить класс <code>.list-short</code>.</p>
          <ul class="list-short">
            <li>с небольшими отступами;</li>
            <li>без маркеров;</li>
            <li>с цветовым выделением.</li>
          </ul>

          <h2>Оформление текста</h2>
          <p>Наиболее простыми способами выделения информации являются <strong>полужирное</strong> и&nbsp;<em>курсивное</em> начертания. Подробнее: <a class="external" href="http://www.artlebedev.ru/kovodstvo/sections/79/" target="_blank">§&nbsp;79. Делать фонт болдом или италиком?</a></p>
          <p>На&nbsp;этом сайте есть дополнительный способ выделения при помощи подсвечивания, для чего используется элемент <span class="highlighted">«Подсвеченный»</span> (класс <code>.highlighted</code>).</p>

          <h3>Комментарий</h3>
          <div class="comment"><p>Элемент «Комментарий» (класс <code>.comment</code>) применяется к&nbsp;пояснительному тексту. <em>И&nbsp;еще немного специально написанного текста, чтобы получилось несколько строк для наглядности.</em></p></div>
          <div class="important important--red">
            <div class="important_icon">
              <span><i class="icon icon-help"></i></span>
            </div>
            <h3>Важно</h3>
            <p>Элемент «Важно». (класс <code>.important</code>), который используется для выделения особо важной информации. И еще немного специально написанного текста, чтобы получилось несколько строк для наглядности.</p>
          </div>

          <h3>Надстрочные и подстрочные индексы</h3>
          <p>Важно следить за тем, чтобы элементы надстрочных и подстрочных индексов не увеличивали высоту строки, потому что это портит вид текстового блока. Пример: 2<sup>3</sup>. Еще пример: H<sub>2</sub>SO<sub>4</sub>. В обоих случаях высота строки от индексов не должна меняться. Если отступ между первой и второй строками увеличился, значит, что-то<sup class="footnote">1</sup> сделано неправильно.</p>

          <h2>Ссылки</h2>
          <p>На сайте может встречаться несколько видов ссылок. Например, ссылка на <a href="https://yandex.ru/" class="external link" target="_blank">Яндекс</a> является внешней. Внутренние ссылки могут открываться по умолчанию в текущем окне (например, переход на <a href="/" class="link">главную страницу</a>) или в <a target="_blank" href="/" class="link">новом окне</a> (например, для показа изображений в оригинальном размере). Подробнее: §&nbsp;171. <a href="https://www.artlebedev.ru/kovodstvo/sections/171/" class="external" target="_blank">Правила оформления ссылок</a>.</p>
          <p>Стиль <span class="link pseudolink">псевдоссылки</span> обеспечивается добавлением к нужному элементу класса <code>.pseudolink</code>.</p>

          <h2>Цитата</h2>
          <blockquote>
            <p>Я увидел всю сущность нашей правящей системы. Там было много очень послушных дураков и неучей.</p>
            <footer>— Л. Н. Толстой. <cite title="Из письма к Л. Андрееву от 02.09.1902">Из письма к Л. Андрееву от 02.09.1902</cite></footer>
          </blockquote>
        </div>

      </div><!-- /.page__content -->
    </div><!-- /.page -->
  </div><!-- /.container -->
</div><!-- /.ui-page -->
{% endblock %}
