.main-payout {
  background-color: #f8fcfd;
  padding-bottom: 10px;

  .base-block_header {
    text-align: center;
    justify-content: center;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    list-style-type: none;
    margin: 50px 0 0 0;
    padding: 0;
    justify-content: space-between;
  }

  &_item {
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-basis: 33%;
    margin-bottom: 60px;
  }
}
