<!-- begin .user-page_content -->
<div class="user-page_content">
  <!-- begin .page_content_form -->
  <div class="page_content_form">
    {% if pagelogin %}
    <form action="" class="form form-login">
      <div class="form-group">
        <label for="" class="form-control-label hide" hide>Email</label>
        <input type="text" id="" class="form-control" placeholder="Email" autofocus>
      </div><!-- /.form-group -->

      <div class="form-group">
        <label for="" class="form-control-label hide">Пароль</label>
        <input type="password" id="" class="form-control" placeholder="Пароль">
      </div><!-- /.form-group -->

      <div class="form-actions full">
        <button class="btn btn-red" id="submit">Вход</button>
      </div><!-- /.form-actions -->

      <div class="form-group">
        <p><a href="password.html">Восстановить пароль</a></p>
      </div><!-- /.form-group -->

      <div class="form-social">
        <p class="form-social-text">или войдите через:</p>
        <ul class="social social--auth">

          <li class="social_item"><a href="javascript:void(0);" class="social_link social_link--facebook" target="_blank" title="FaceBook откроется в новом окне"><span>FaceBook</span></a></li>
          <li class="social_item"><a href="javascript:void(0);" class="social_link social_link--twitter" target="_blank" title="Twitter откроется в новом окне"><span>Twitter</span></a></li>
          <li class="social_item"><a href="javascript:void(0);" class="social_link social_link--vk" target="_blank" title="VK.com откроется в новом окне"><span>VK</span></a></li>

        </ul>
      </div><!-- /.form-social -->

    </form>
    {% endif %}
    {% if pageregistration %}
    <form action="" class="form form-registration">
      <div class="form-group">
        <label for="" class="form-control-label hide" hide>Email</label>
        <input type="text" id="" class="form-control" placeholder="Email" autofocus>
      </div><!-- /.form-group -->

      <div class="form-group has-error">
        <label for="" class="form-control-label hide">Имя</label>
        <input type="text" id="" class="form-control" placeholder="Имя">
        <div class="invalid-feedback">Таких имён не баывает, заполните поле</div>
      </div><!-- /.form-group -->

      <div class="form-group">
        <label for="" class="form-control-label hide">Придумайте пароль</label>
        <input type="password" id="" class="form-control" placeholder="Пароль (6 и более символов)">
      </div><!-- /.form-group -->

      <div class="form-group">
        <label for="" class="form-control-label hide">Подтверждение пароля</label>
        <input type="password" id="" class="form-control" placeholder="Пароль ещё раз">
      </div><!-- /.form-group -->

      <div class="form-group line">
        <input type="text" id="" class="form-control captcha-text" placeholder="Код">
        <div class="captcha-img"><img src="assets/images/captcha-demo.png" alt="Капча для регистрации в Aliincome" width="150" hidden="40"></div>
        <div class="captcha-reload" title="Обновить капчу?"><span><i class="icon icon-reload"></i></span></div>
      </div><!-- /.form-group -->

      <div class="form-actions full">
        <button class="btn btn-red" id="submit">Зарегистрироваться</button>
      </div><!-- /.form-actions -->

      <div class="form-group">
        <p><a href="">Договор и условия</a></p>
      </div><!-- /.form-group -->

    </form>
    {% endif %}
    {% if pagepassword %}
    <form action="" class="form form-password">
      <div class="form-group">
        <p>Забыли пароль? Введите почту и мы пришлем инструкцию, как его восстановить.</p>
      </div>
      <div class="form-group">
        <label for="" class="form-control-label hide" hide>Email</label>
        <input type="text" id="" class="form-control" placeholder="Email" autofocus>
      </div><!-- /.form-group -->

      <div class="form-actions full">
        <button class="btn btn-red" id="submit">Выслать</button>
      </div><!-- /.form-actions -->

      <div class="form-group">
        <p>или <a href="login.html">войти</a></p>
      </div><!-- /.form-group -->
    </form>
    {% endif %}
  </div>
  <!-- end .page_content_form -->
</div>
<!-- end .user-page_content -->
