<!-- begin .profile-content -->
<div class="profile-content">
  <!-- begin .container -->
  <div class="container">
    <!-- begin .profile-content_wrap -->
    <div class="profile-content_wrap">
      {% if settings %}
      <p>Общая информация о вашем профиле пользователя</p>
      <form action="" class="form">
        <div class="form-group row middle-xs">
          <div class="col-xs-3">
            <label class="form-control-label" for="name">Имя</label>
            <div class="help-text">Используется для обращения к вам в системе</div>
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" value="Вадим" placeholder="Представьтесь, пожалуйста?" id="name" autofocus>
          </div>
        </div>
        <div class="form-group row middle-xs">
          <div class="col-xs-3">
            <label class="form-control-label" for="email">Email</label>
            <div class="help-text">Используется для логина и системных оповещений</div>
          </div>
          <div class="col-xs-4">
            <input type="email" class="form-control" value="shaverdin@gmail.com" placeholder="Адрес электронной почты" id="email">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-3">
            <label class="form-control-label">Пароль</label>
          </div>
          <div class="col-xs-4">
            <p><a href="javascript:void(0);">Сменить пароль</a></p>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-3">
            <label class="form-control-label" for="check1">Получать уведомления на почту</label>
          </div>
          <div class="col-xs-4">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="check1" checked>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-3">
            <p><a href="javascript:void(0);">Договоры и условия</a></p>
          </div>
          <div class="col-xs-4">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="ok" checked disabled>
              <label class="form-check-label" for="ok">Со всем согласен</label>
            </div>
          </div>
        </div>
        <div class="form-actions row">
          <div class="col-xs-4 col-xs-offset-3">
          <button type="button" name="button" class="btn btn-red">Сохранить изменения</button>
          </div>
        </div>
      </form>
      {% endif %}

      {% if payout %}
      <p>Управление кошельками для вывода заработанных средств</p>
      <form action="" class="form">
        <div class="form-group row middle-xs">
          <div class="col-xs-3">
            <label class="form-control-label" for="wmz">Ваш WMZ-кошелёк</label>
            <div class="help-text">Для вывода заработанных средств, WebMoney, WMZ</div>
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Номер кошелька WMZ, 12 цифр" id="wmz" autofocus>
          </div>
        </div>
        <div class="form-group row middle-xs">
          <div class="col-xs-3">
            <label class="form-control-label" for="wmr">Ваш WMR-кошелёк</label>
            <div class="help-text">Для вывода заработанных средств, WebMoney, WMR</div>
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Номер кошелька WMR, 12 цифр" id="wmr">
          </div>
        </div>
        <div class="form-group row middle-xs">
          <div class="col-xs-3">
            <label class="form-control-label" for="qiwi">Ваш QIWI кошелёк</label>
            <div class="help-text">Для вывода заработанных средств на QIWI кошелёк</div>
          </div>
          <div class="col-xs-4">
            <div class="input-group">
              <select class="form-control">
                <option value="1" selected>+7</option>
                <option value="2">+43</option>
                <option value="3">8</option>
                <option value="4">+1</option>
              </select>
              <input type="text" class="form-control" placeholder="Номер кошелька QIWI, 11 цифр" id="qiwi">
            </div><!-- /.input-group -->
          </div>
          <div class="col-xs-3"><span class="pseudolink">Изменить</span></div>
        </div>
        <div class="form-group row middle-xs">
          <div class="col-xs-3">
            <label class="form-control-label"for="yad">Ваш кошелёк Яндекс.Деньги</label>
            <div class="help-text">Для вывода заработанных средств на Яндекс.Деньги</div>
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Номер кошелька WMR, 12 цифр" value="410011260944371" id="yad" disabled>
          </div>
          <div class="col-xs-3"><span class="pseudolink red">Удалить</span></div>
        </div>
        <div class="form-actions row">
          <div class="col-xs-4 col-xs-offset-3">
          <button type="button" name="button" class="btn btn-red">Сохранить изменения</button>
          </div>
        </div>
      </form>
      {% endif %}

      {% if referral %}
      <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
      <p>Привлекайте новых пользователей, используя свою реферальную ссылку и получайте 20% от кэшбека ваших друзей.</p>
      <p>Ваша реферальная ссылка: <span class="ref-link" data-clipboard-text="https://aliincome.ru/ref23423874238/">https://aliincome.ru/ref23423874238/</span></p>
      <hr>
      <!-- begin .table_wrap -->
      <div class="table_wrap">
        <!-- begin .table -->
        <table class="table">
          <thead>
            <tr>
              <th>E-mail пользователя</th>
              <th>Дата регистрации</th>
              <th>Количество покупок</th>
              <th>Кэшбек пользователя</th>
              <th>Заработано</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>nikolay-II@gmail.com</td>
              <td>17 июля 1918</td>
              <td>7 892</td>
              <td>19 559 руб.</td>
              <td>347 280 руб.</td>
            </tr>
            <tr>
              <td>nikla@tesla.io</td>
              <td>7 января 1943</td>
              <td>197</td>
              <td>5 483 руб.</td>
              <td>26 985 руб.</td>
            </tr>
          </tbody>
        </table>
        <!-- end .table -->
      </div>
      <!-- end .table_wrap -->
      {% endif %}
    </div>
    <!-- end .profile-content_wrap -->
  </div>
  <!-- end .container -->
</div>
<!-- end .profile-content -->
