.profile-content {
  padding-top: 40px;
  padding-bottom: 40px;

  &_wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.ref-link {
  background-color: #5996ae;
  border-radius: 5px;
  padding: 5px 12px;
  display: inline-block;
  color: #fff;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 20px;
  margin-left: 5px;

  span {
    border-bottom: 1px dotted #fff;
  }
}
